:root{
    font-size: 10px;
}
body{
    background-color:#E5E5E5;
} 

.form{
   min-width: 700px;
   max-width: 1000px;
   background-color: #F9F9F9;
   padding: 3% 3%;
   box-sizing: border-box;
   color: #171717;
   margin: 5%;
   font-family: 'Public Sans';
}

/* all elements */
  
span{
    color: #D83933;
}

.h2{
    font-weight: 700;
    font-size: 2rem;
    padding: 2% 0;

}

.form>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    
}
.form>div>div>div{
    width: 48%;
}

label{
    font-weight: 500;
    font-size: 1.6rem;
}

input, select, option{
    display: inline-block;
    font-weight: 400;
    font-size: 1.6rem;
    color: #171717;
    padding: 2%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2%;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-family: 'Public Sans';
    
}


label{
    display: block;
   
}
.line{
    border-top: 1px solid #D1D1D1;
    margin-top: 5%;
}
input[type='search']{
    background-image: url(../img/glass.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
}
input[type='text']{
    background-image: url(../img/mark.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
}
input[type='date']{
    background-color: #EFEFEF;
    background-image: url(../img/calendar.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
}
input[type='datepicker']{
    color: #171717;
    background-image: url(../img/calendar.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
   
}
   


/* structure elements */

 .h1{
    font-weight: 700;
    font-size: 2.4rem;
    padding: 5% 0;
}

.form>div:first-of-type{
    font-size: 1.4rem;
    font-weight: 400;

}
.checkbox{
      
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 1.6rem;
    color: #171717;
    padding-left: 2%;
    box-sizing: border-box;

}

.information>div:nth-child(5) input{
    color: #0050D8;
}
input[type='checkbox']{
    display: none;
}
input[type='checkbox']+label{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}
input[type='checkbox']:checked+label{
    background-color: #0050D8;
    background-image:url(../img/markw.png);
    background-repeat: no-repeat;
    background-position: center;
}
.sysinf>div:last-child>div:last-child>input{
    color: #0050D8;
}

.next{
    margin-top: 2%;
    text-align: right;
}
.next>input{
    background-color: #0050D8;
    color: white;
    padding: 1% 2%;
    box-sizing: border-box;
    width: max-content;
    border-radius: 4px;
    
}




