body{
    background-color: #E5E5E5;
}
.icon_scuare{
    background: linear-gradient(#2137FC 50%, #FFCE22 50%);
    height: 512px;
    width: 512px;
}
.icon_circle{
    background-color: #FFFFFF;
    padding: 2%;
    height: 512px;
    width: 512px;
    box-sizing: border-box;
}
.circle{
    background: linear-gradient(#2137FC 50%, #FFCE22 50%);
    border: #E5E5E5;
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.glyph_scuare{
    padding: 28% 10%;
}
.glyph_circle{
    padding: 49% 10%;
    width: 80%;
}
.group_scuare{
    padding: 12% 0%;
}
.group_circle{
    padding: 16% 20%;
    width: 60%;
}
.plane_scuare{
    padding: 25% 33%;
}
.plane_circle{
    padding: 18% 18%;
    width: 60%;
}

.icon_black{
    background-color: black;
    margin-top: 15px;
    padding: 2%;
    box-sizing: border-box;
    height: 512px;
    width: 512px;
    box-sizing: border-box;
    text-align: center;
}
.diya_content{
    padding: 25% 15%;
    text-align: center;
    box-sizing: border-box;
    width: 100%;

}
.flag_1{
    background-image: url(../img/Flag.png);
    background-repeat:no-repeat;
    background-position: 47% 90%;
    box-sizing: border-box;
}
    
.flag_2{
    background-image: url(../img/Flag.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.flag_3{
    background-image: url(../img/Flag.png), url(../img/Flag.png);
    background-position: 1% 1%, 99% 1%;
    background-repeat: no-repeat;
    box-sizing: border-box;

}
.box1{
    display: inline-block;
    vertical-align: top;
    margin: 1%;
}
.box2{
    display: inline-block;
    vertical-align: top;
    margin: 1%;
}
.box3{
    display: inline-block;
    vertical-align: top;
    margin: 1%;
}
.box4{
    display: inline-block;
    vertical-align: top;
    margin: 1%;
}
.box5, .icon_black{
    display: inline-block;
    vertical-align: top;
    margin: 1%;
}