:root {
  font-size: 10px;
}

body {
  background-color: #E5E5E5;
  
}

section {
  display: grid;
  background-color: #FFB084;
  border-radius: 20px;

  
  grid-gap: 17px;
  grid-template-areas: "about bio bio"
 "about goals frustr"
 "about dc frustr"
 "q dc person";
 grid-column: 250px 189px 189px;
  font-family: 'Work Sans';
  padding: 2% 2%;
  box-sizing: border-box;
  width: 755px;

}

span {
  font-weight: 700;
}
ul{
   padding-left: 12%;
   margin: 0;
}
.h2{
  margin-bottom: 2%;
}

.about {
  grid-area: about;
  /* grid-row: 1/4; */
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 15px 25px;
  box-sizing: border-box;
  z-index: 100;
  box-shadow: 7px 7px 0 black;
  width: 250px;
}

.about_h1 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 5% 0;
  box-sizing: border-box;
}

.about_myimg {
  text-align: center;
  width: 100%;
  
}

.q {
  grid-area: q;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 15px 25px;
  width: 250px;

  box-sizing: border-box;
  z-index: 100;
  box-shadow: 7px 7px 0 black;
  text-align: center;
}

.bio {
  grid-area: bio;
  grid-column: 2/4;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 15px 25px;
  box-sizing: border-box;
  z-index: 100;
  box-shadow: 7px 7px 0 black;
  width: 400px;
}

.bio_h2, .person_h2 {
  font-weight: 700;
}

.bio_content {
  padding: 1%;
  
}

.goals {
  grid-area: goals;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 100;
  box-shadow: 7px 7px 0 #29A71E;
  padding: 15px 25px;
  box-sizing: border-box;
  width: 189px;
  
}
.goals_h2{
  color: #29A71E;
  font-weight: 700;
    
}

.dc {
  grid-area: dc;
  font-size: 1.4rem;
  font-weight: 400;
  z-index: 100;
  box-shadow: 7px 7px 0 #3675B0;
  padding: 15px 25px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-sizing: border-box;
  width: 189px;
}
.dc_h2{
  font-weight: 700;
  color: #3675B0;
}

.frustr {
  grid-area: frustr;
  font-size: 1.4rem;
  font-weight: 400;
  z-index: 100;
  box-shadow: 7px 7px 0 #E13535;
  padding: 15px 25px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-sizing: border-box;
  width: 189px;


}
.frustr_h2{
  font-weight: 700;
  color: #E13535;
}
.person {
  grid-area: person;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 100;
  box-shadow: 7px 7px 0 black;
  padding: 15px 25px;
  width: 189px;

}
