html{
    font-size: 2px;
}
body{
    background-color: #212529;
    margin: 0%;
}
/* top */
.top{
    padding: 1%;
}
.header{
    font-family: 'Poppins';
    font-size: 9rem;
    text-transform:capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;

}
.header-nav{
    list-style: none;
    display: flex;
      
}
li.header-nav_item>a, .btm>a{
    text-decoration: none;
    text-transform: capitalize;
    transition: all .4s;
    color: #FFFFFF;

}

li.header-nav_item>a{
    font-weight: 600;
    padding: 25px 12.5px;
    box-sizing: border-box;

}
.btm>a{
    background-color: #FFB742;
    border-radius: 50px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 12px 26px;
    font-size: 9rem;
    
}
li.header-nav_item>a:hover{
    color: #FFB742;
}
.btm>a:hover{
    color: #212529;
}
/* representation */
.representation{
    margin-top: 5%;

}
.repr{
    font-family: 'Inter';
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    box-sizing: border-box;
    
    
    
}
div.repr_p:nth-child(1){
    font-size: 16rem;
    font-weight: 700;
}
div.repr_p:nth-child(1)>span{
    color: #FFB742;
    text-decoration: underline;
}
div.repr_p:nth-child(2){
    font-size: 24rem;
    font-weight: 700;
    padding: 1% 0;
}
div.repr_p:nth-child(3){
    font-size: 12rem;
    font-weight: 400;
    padding: 3% 0%;
}
.repr_p>span{
    color: #FFB742;
    text-decoration: underline;

}
/* expiriance */
.experience{
    margin-top: 5%;
}
.exp{
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 8rem;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    padding: 0 3%;
    box-sizing: border-box;
    
}
.card_exp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #292B2E;
    border-radius: 10px;
    width: 31%;
    padding: 2% 2%;
    box-sizing: border-box;
    
    
}
div.card_exp span{
    color: #FFB742;
    font-size: 16rem;
}
.card_exp img{
    background-color: #E9E9E9;
    border-radius: 50px;
    width:auto;
    box-sizing: border-box;
    padding: 18%;
    
    
}
.card_exp div:last-child{
    color: #B3B3B3;
    box-sizing: border-box;
}
.card_exp>div{
    padding: 2%;
    text-align: center;
}
.card_exp:hover{
    background-color: #FFB742;
    color: black;
}
.card_exp:hover span{
    color: black;
}
.card_exp:hover div{
    color: black;
}

.about{
    margin-top: 5%;

}
.about_me{
    font-family: 'Poppins';
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    box-sizing: border-box;
    
}
.about_me>div:nth-child(1)>img{
    box-sizing: border-box;
    width: auto;
}
.about-me_content{
    box-sizing: border-box;
    padding: 1%;
    margin-left: 4%;
}
.about-me_content div:nth-child(1){
    font-size: 10rem;
    font-weight: 600;
    color: #FFB742;
    background-color:#292B2E;
    border-radius: 50px;
    padding: 2%;
    box-sizing: border-box;
    width: max-content;
    
}
.about-me_content div:nth-child(2){
    font-family: 'Roboto';
    font-size: 24rem;
    font-weight: 700;
    color: #FFFFFF;
}
.about-me_content div:nth-child(3){
    font-size: 8rem;
    font-weight: 400;
    color: #D4D4D4;
    margin-top: 3%;
}
.about-me_content div:nth-child(4){
    margin-top: 10%;
}
/* works */
.works{
    margin-top: 5%;
}
.my_works{
    text-align: center;
    font-family: 'Poppins';
    margin: 0 auto;
    width: 95%;
      
}
.my_works>div:nth-child(1){
    font-size: 10rem;
    font-weight: 600;
    color: #FFB742;
    background-color: #292B2E;
    padding: 1%;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 50px;
    width:fit-content;
    margin: 0 auto;

}
.my_works>div:nth-child(2){
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24rem;
    color: #FFFFFF;
}
.my_works>div:nth-child(3){
    font-size: 8rem;
    font-weight: 600;
    color: #FFFFFF;
}
.works_nav{
    list-style: none;
    display: flex;
    justify-content:space-around;
    padding: 0 25%; 
    margin-top: 5%; 
    box-sizing: border-box;
}
.works_nav>li>a{
    text-decoration: none;
    color: #FFFFFF;
}
.works_nav>li:hover{
    
    background-color: #FFB742;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 1%;
    transform: scale(1.1);
}
.works_nav>li:hover a{
    color: #212529;
}

.my_works>div:nth-child(4){
    margin-top: 5%;
    
    
}
.work_exp a{
    width: auto;
    padding: 1%;
    box-sizing: border-box;
}
.work-exp_2{
    margin-top: 2%;
}
/* footer */
.footer{
    margin-top: 5%;
}
.end{
    font-family: 'Work Sans';
    background-color: #1C1C1C;
    display: flex;
    justify-content:space-around;
    color: #FFFFFF;
    vertical-align: top;
    padding: 7% 2%;
    width: 100%;
    box-sizing: border-box;
    
}
.end>div:nth-child(1)>div:first-child{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16rem;
    color: #FFB742;
    margin-bottom: 31px;
}
.end>div:nth-child(1)>div:last-child{
    color: #D4D4D4;
    font-size: 8rem;
    font-weight: 600;
}
.end_h3{
    font-size: 11rem;
    font-weight: 700;
    color: #F5FBF2;
    margin-bottom: 17px;
}
.end ul {
    list-style: none;
    padding: 0;
}
.end a{
    text-decoration: none;
    color: #7B7B7B;
    font-size: 9rem;
    font-weight: 500
}
.end>div:last-child>div:last-child{
    font-size: 8rem;
    color: #7B7B7B;
}
.end>div:last-child{
    width: 30%;
}
.end>div:first-child{
    width: 30%;
}
.end_nav>li{
    margin: 5%;
}







