.h1{
    margin: 72px 0;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
  
}
.line{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    padding-top: 25px;
}
.header{
    color: #3E45E8;
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    padding: 25px 0;
}
.yellow_word{
    color: #E8C23E;
}
.banner{
    background-image: url(../img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 803px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 48px;
    padding-top: 15%;
    padding-left: 5%;
    box-sizing: border-box;
}
.banner_content{
    color: #FFFFFF;
    width: 80%;
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
    height: 272px;
    padding-left: 5%;    
    box-sizing: border-box;
}
/* main */
.main{
    padding: 0 80px;
    font-family: 'Roboto Slab'
}
.card{
    display: inline-block;
    width: 30%;
    border: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 4px 57px 3px;
    vertical-align: top;
    }
.card_margin{
    margin: 0 4.5%;
}
.card_image{
    width: 100%;
}
.card_title{
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    padding: 3%;
    box-sizing: border-box;
}
.card_subtitle{
    font-weight: 400;
    font-size: 20px;
    color: #E8C23E;
    padding: 5%;
    box-sizing: border-box;
}
.card_padding{
    padding-bottom: 0,2%;
}

.h1_centre{
    text-align: center;
}
.line_centre{
    margin: auto;
}
.map{
    width: 100%;
    text-align: center;
    padding-bottom: 51px;
}
.buttom{
    text-align: center;
}
.link{
    background-color: #2A61F0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 64px;
    padding: 10px 93px;
    margin-top: 51px;
}
/* footer */
footer{
    background-color: #2F4A4B;
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    margin-top: 51px;

}
.header_1{
    padding: 0;
}
.contact{
    text-align: center;
}
.social_media{
    text-align: center;
}
   